name: Build

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    types: ["opened", "reopened", "synchronize"]
  push:
    branches:
      - master

env:
  NSUnbufferedIO: YES

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: Build & Test
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode Version
        run: sudo xcode-select -switch /Applications/Xcode_26.0.app

      - name: Build & Test
        run: |
          set -o pipefail && xcodebuild test \
            -scmProvider system \
            -disableAutomaticPackageResolution \
            -disablePackageRepositoryCache \
            -scheme SchibstedAccount \
            -destination "platform=iOS Simulator,name=iPhone 17,OS=latest" \
          | xcbeautify --renderer github-actions
