name: DocC

on:
  push:
    branches: 
      - master

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true
  
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    runs-on: macos-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Select Xcode Version
        run: sudo xcode-select -switch /Applications/Xcode_26.0.app

      - name: Build DocC
        run: |
          swift package resolve

          xcodebuild docbuild \
            -scheme SchibstedAccount \
            -derivedDataPath /tmp/docbuild \
            -destination "platform=iOS Simulator,name=iPhone 17,OS=latest"
          
          $(xcrun --find docc) process-archive \
            transform-for-static-hosting /tmp/docbuild/Build/Products/Debug-iphonesimulator/SchibstedAccount.doccarchive \
            --output-path docc

          echo "<script>window.location.href += \"documentation/schibstedaccount/\"</script>" > docc/index.html;

      - name: Install gtar # Used by actions/upload-pages-artifact
        run: brew install gnu-tar

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'docc'

      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
